{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Notification Manager{% endblock %}

{% block body %}
    <div class="large-12 columns end">
    <form method="POST">
        {% csrf_token %}
        <div class="box">

            <div class="row expanded">
                <div class="large-6 columns">
                    <div class="title-area">
                        <h2>Authentication Options</h2>
                    </div>
                    <div class="content">
                        <div class="large-12 columns">
                            {{ form.authentication_enabled|foundation }}
                        </div>
                        <div class="large-12 columns">
                            {{ form.authentication_url|foundation }}
                        </div>
                            <div class="large-6 columns">
                                {{ form.email|foundation }}
                            </div>
                            <div class="large-6 columns">
                                {{ form.password|foundation }}
                            </div>
                    </div>
                </div>
                        <div class="large-6 columns">
                            <div class="title-area">
                                <h2>Notification Options</h2>
                            </div>
                            <div class="content">
                                <div class="row">
                                    {{ form.enabled|foundation }}
                                </div>
                                <div class="row">
                                    {{ form.url|foundation }}
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="box">
            <div class="row expanded">
                <div class="large-2 columns end">
                    <input type="submit" value="Submit" class="button" />
                </div>
            </div>
        </div>
    </form>
    </div>
{% endblock body %}